---
import Globe from "../icons/globe.astro";
import Section from "../Section.astro";
import Networks from "../Networks.astro";
---

<section class="mb-10 flex flex-col justify-between gap-10 sm:flex-row">
  <div class="order-last flex flex-col gap-2 sm:order-none">
    <h1 class="mb-2 text-3xl font-medium">Omar Baldomero Vite Allca</h1>
    <h2 class="font-medium">
      Estudiante de Ciencias de la Computación
    </h2>
    <span class="flex items-center gap-1 font-light"
      ><Globe /> Lima, Perú
    </span>
    <Networks />
  </div>
  <div class="flex min-w-fit justify-start sm:justify-end">
    <img
      src="https://media.licdn.com/dms/image/v2/D4E03AQEZ3t8WHY4zcQ/profile-displayphoto-shrink_800_800/B4EZPuzO.DGwAc-/0/1734878228854?e=1740614400&v=beta&t=XLL2MpEs3M9HuMF80sVBkgYcD9jc2zQQ126qXik4XoY"
      class="h-36 w-36 rounded-full object-cover"
      alt="ProfilePhoto"
    />
  </div>
</section>
<Section title="Sobre mí">
  <p class="text-justify font-light">
    Alumno de 8vo ciclo de la Universidad Nacional de Ingeniería. Actualmente
    miembro activo del grupo de divulgacion científica
    <a
      href="https://acecom.dev/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-semibold text-teal-950">ACECOM</a
    >. Vivo en Lima, Perú. He participado en proyectos universitarios como diseñador y
    desarrollador.
  </p>
</Section>
