---
import Globe from '../icons/globe.astro'
import Section from '../Section.astro'
import Networks from '../Networks.astro'
---

<section class="mb-10 flex flex-col justify-between gap-10 sm:flex-row">
	<div class="order-last flex flex-col gap-2 sm:order-none">
		<h1 class="mb-2 text-4xl font-medium">Omar Vite</h1>
		<h2 class="font-medium">Frontend Developer, Computer Science</h2>
		<span class="flex items-center gap-1 font-light"><Globe /> Lima, Perú </span>
		<Networks />
	</div>
</section>
<Section title="About Me">
	<p class="text-justify font-light">
		I am a last-year Computer Science student at the Universidad Nacional de Ingeniería and an
		active member of the scientific outreach group
		<a
			href="https://acecom.dev/"
			target="_blank"
			rel="noopener noreferrer"
			class="relative font-semibold text-teal-800 hover:text-teal-900
              transition-colors duration-300
              after:content-[''] after:absolute after:left-0 after:-bottom-[1px]
              after:h-[2px] after:w-full after:bg-teal-900
              after:scale-x-0 after:origin-left
              after:transition-transform after:duration-300
              hover:after:scale-x-100"
			>ACECOM</a
		>. Based in Lima, Peru, I have participated in various university projects as a developer. I am
		a <strong>Fullstack Developer</strong>
		with a primary focus and expertise in <strong>Frontend</strong>. I am passionate about creating
		innovative solutions and working in collaborative teams, and I am always seeking opportunities
		to expand my skills and keep up with the latest technological trends.
	</p>
</Section>
