---
import CertificateCard from "../CertificateCard.astro";
import Section from "../Section.astro";

const certificates = [
    {
        title: "Scrum Professional Foundation",
        provider: "CertiOne",
        icon: "../images/certione_certification_logo.jpeg",
        credential: "https://certione.org/certificate-verification/35EF7B8-35EF694-303684B/"
    },
    {
        title: "Github Foundations",
        provider: "Github",
        icon: "../images/github_logo.jpeg",
        credential: "https://www.credly.com/badges/1ba4e44f-0b4f-4086-94f7-dbda67c455d6/public_url"
    },
    {
        title: "Legacy JS Algorithms and Data Structures",
        provider: "freeCodeCamp",
        icon: "../images/free_code_camp_logo.jpeg",
        credential: "https://freecodecamp.org/certification/fcc1e3af434-5cd4-414b-afc8-4d3be4b47f83/javascript-algorithms-and-data-structures"
    },
    {
        title: "Javascript Basic",
        provider: "HackerRank",
        icon: "../images/hackerrank_logo.jpeg",
        credential: "https://www.hackerrank.com/certificates/6eacca40e17c"
    },
    {
        title: "Java University",
        provider: "Udemy",
        icon: "../images/udemy_logo.webp",
        credential: "https://www.udemy.com/certificate/UC-9eab8119-1673-4ecb-8107-1a49f234774a/"
    }
]
---

<Section title="Certifications">
  <div class="flex flex-col gap-4">
    {certificates.map((certificate)=>{
        return <CertificateCard {...certificate}/>
    })}
  </div>
</Section>
