---
import Section from '../Section.astro'
import Card from '../Card.astro'
---

<Section title="Education">
	<div class="flex flex-col gap-3">
		<Card title="Universidad Nacional de Ingeniería" role="Computer Science" date="2020 - Now" />
		<Card
			title="Instituto Cultural Peruano Norte Americano"
			role="Advanced English"
			date="2016 - 2023"
		/>
	</div>
</Section>
