---
import Section from "../Section.astro";
import Card from "../Card.astro";
---

<Section title="Educación">
  <div class="flex flex-col gap-3">
    <Card
      title="Universidad Nacional de Ingeniería"
      role="Ciencias de la Computación"
      date="2020 - Actualidad"
    />
    <Card
      title="Instituto Cultural Peruano Norte Americano"
      role="Ingles avanzado"
      date="2016 - 2023"
    />
  </div>
</Section>
