---
import WorkCard from "../WorkCard.astro"
import Section from "../Section.astro"

const jobs = [
    {
        title: "Culqi",
        role: "Frontend Developer Intern",
        date: "2025 (April - Now)",
        skills: ["Vue.js", "TypeScript", "Zod", "Pinia", "Microfrontends"]
    },
    {
        title: "Mrcash",
        role: "Fullstack Developer",
        date: "2025 (January - March)",
        skills: ["Vue.js", "TypeScript", "Vuetify", "Node JS", "Express"]
    },
    {
        title: "Andeandev",
        role: "Frontend Developer",
        date: "2022 - Now",
        skills: ["Nuxt.js", "TypeScript", "Tailwind CSS", "Material Design"]
    }
]
---
<Section title="Experience">
    <div class="flex flex-col gap-3">
        {jobs.map((job)=>{
            return <WorkCard {...job}/>
        })}
    </div>
</Section>