---
import AboutMe from "../components/sections/AboutMe.astro";
import Certificates from "../components/sections/Certificates.astro";
import Education from "../components/sections/Education.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import WorkExp from "../components/sections/WorkExp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio de Omar Vite">
  <main class="mx-auto max-w-3xl px-10 lg:px-0">
    <AboutMe />
    <Education />
    <WorkExp />
    <Certificates />
    <Projects />
    <Skills />
  </main>
</Layout>

<style></style>
