---
import Mail from "./icons/mail.astro";
import LinkedIn from "./icons/linkedin.astro";
import Github from "./icons/github.astro";
import Whatsapp from "./icons/whatsapp.astro"
---

<div class="flex items-center gap-2">
  <a href="mailto:viteomar537.b@gmail.com"><Mail /></a>
  <a
    href="https://www.linkedin.com/in/omar-vite-allca-647754263/"
    target="_blank"
    rel="noopener noreferrer"><LinkedIn /></a
  >
  <a
    href="https://github.com/llVitell"
    target="_blank"
    rel="noopener noreferrer"><Github /></a
  >
  <a
    href="https://wa.me/920435217"
    target="_blank"
    rel="noopener noreferrer"><Whatsapp /></a
  >
</div>
