---
import Tags from "./Tags.astro";

const {title, role, date, skills} = Astro.props
---
<div class="flex w-full flex-col justify-between gap-2">
  <div class="flex justify-between">
    <h3 class="font-medium">{title}</h3>
    <span class="flex justify-end font-light text-sm"> {date} </span>
  </div>
  <div class="flex justify-between">
    <span class="font-light text-sm">{role}</span>
    <div class="flex flex-wrap gap-2 justify-end">
      <Tags tags={skills} />
    </div>
  </div>
</div>
